<template>
    <div>
      <h1 class="mt-4">
        ASP.NET Core & Vue Starter Template
      </h1>

      <h5 class="mt-5">
        Made with <icon icon="heart" class="fuscia" /> by
        <a href="https://trilon.io" target="_blank" class="fuscia">Trilon.io</a>
      </h5>

      <br>

      <a href="https://trilon.io" target="_blank">
        <img class="trilon-logo" src="https://trilon.io/trilon-logo-clear.png" />
      </a>

      <br><br>

      <h4>
        <a href="https://trilon.io" target="_blank" class="fuscia">
          Enterprise Consulting | Development | Training | Workshops
        </a>
      </h4>
      <strong>
        Get your Team & Application up to speed by working with some of the leading industry
        experts in JavaScript & ASP.NET!
      </strong>
      <br><br>
      <ul>
        <li>Official <a href="https://www.nestjs.com" target="_blank">NestJS</a> Consulting</li>
        <li>Architectural Review</li>
        <li>JavaScript Application Consulting
          <ul>
            <li>Vue | React | Angular</li>
            <li>Best-practices</li>
          </ul>
        </li>
        <li>Team Augmentation & Support</li>
        <li>Much more!</li>
      </ul>

      <strong>Let's get in touch and see how Trilon can help you! </strong>
      <p><a href="mailto:hello@trilon.io?subject=Trilon%20Consulting"><icon icon="envelope"/> hello@trilon.io</a></p>

      <h3 class="mt-5">Find us Online</h3>
      <strong>Website: <a href="https://trilon.io" target="_blank">Trilon.io</a></strong>
      <br>
      <strong>Twitter: <a href="https://twitter.com/trilon_io" target="_blank">@Trilon_IO</a></strong>
      <br>
      <strong>Github: <a href="https://github.com/trilonio" target="_blank">@Trilon_IO</a></strong>

      <br><br><br>

         <b-table striped hover :items="items"></b-table>

             <b-alert
      :show="dismissCountDown"
      dismissible
      variant="warning"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="countDownChanged"
    >
      <p>This alert will dismiss after {{ dismissCountDown }} seconds...</p>
      <b-progress
        variant="warning"
        :max="dismissSecs"
        :value="dismissCountDown"
        height="4px"
      ></b-progress>
    </b-alert>

    <b-button @click="showAlert" variant="info" class="m-1">
      Show alert with count-down timer
    </b-button>

    </div>
</template>

<script>
export default {
  data () {
     return {
        items: [
          { age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
          { age: 21, first_name: 'Larsen', last_name: 'Shaw' },
          { age: 89, first_name: 'Geneva', last_name: 'Wilson' },
          { age: 38, first_name: 'Jami', last_name: 'Carney' }
        ],
           dismissSecs: 10,
        dismissCountDown: 0,
        showDismissibleAlert: false
      }
  },
   methods: {
      countDownChanged(dismissCountDown) {
        this.dismissCountDown = dismissCountDown
      },
      showAlert() {
        this.dismissCountDown = this.dismissSecs
      }
    }
}
</script>

<style>

</style>
